@import "imports/variables";
@import "imports/navbar";
@import "imports/forms";
@import "imports/buttons";
@import "imports/helpers";
@import "imports/responsive";

body {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 1.6;
}

.card-panel.rounded {
  border-radius: 15px;
}

.list-products {
  padding: 1em;
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: 2px solid #fafafa;

    &.disable {
      background: #eeeeee;
      opacity: .5;
    }

    p {
      flex-grow: 2;
    }
  }
}

.list-products__actions {
  li {
    display: inline;
    padding: 0 .5em;

    button, a {
      border: none;
      background: transparent;
      padding: 0;
      cursor: pointer;
      text-decoration: none;
    }
  }
}